<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Odeyalko`s cloud</title>
    <link rel="stylesheet" href="Main.css">
    <link rel="icon" href="../static/Bokehlicia-Captiva-Cloud.ico">
    <link rel="stylesheet" href="dark.css" id="theme">
</head>

<body>
<div class="main-odeyalko-cloud">
    <h1 align="center">Odeyalko`s cloud. </h1>
    <h3 align="center">Just save your files.</h3>
</div>

<div class="register" id="register">
    <h2>No have account?</h2>
    <a href="/simple-cloud/register/">Register now</a>
</div>
<div>
    <h5>Have account?</h5>
    <a href="/simple-cloud/sign" class="sign_in">Sign in</a>

</div>
</body>
</html>